{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome!{% endblock %}
{% block content %}
        <a href="{% url 'index' %}">Back home</a>
        <h2>Meals <a href="{% url 'meal_add' %}">(Add)</a></h2>
        <table>
                <tr>
                        <th>Name</th>
                        <th>Ingredients</th>
                        <th>Cost</th>
                        <th>Healthiness</th>
                        <th>Edit</th>
                        <th>Delete</th>
                </tr>
        {% for meal in meals %}
                <tr>
                        <td>{{meal.name}}</td>
                        <td>{{meal.all_ingredients}}</td>
                        <td>{{meal.cost}}</td>
                        <td>{{meal.healthiness}}/5</td>
                        <td><a href="{% url 'meal_edit' id=meal.id %}">Edit</a></td>
                        <td>
                                <a
                                        href="{% url 'meal_delete' id=meal.id %}"
                                        onclick="return confirm('Are you sure?')"
                                >
                                        Delete
                                </a>
                        </td>
                </tr>
        {% endfor %}
        </table>
{% endblock %}