{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome!{% endblock %}
{% block content %}
        <a href="{% url 'index' %}">Back home</a>
        <h2>Ingredients <a href="{% url 'ingredient_add' %}">(Add)</a></h2>
        <table>
                <tr>
                        <th>Name</th>
                        <th>Servings</th>
                        <th>Price</th>
                        <th>URL</th>
                        <th>Edit</th>
                        <th>Delete</th>
                </tr>
        {% for ingredient in ingredients %}
                <tr>
                        <td><a href="{% url 'ingredient_view' id=ingredient.id %}">{{ingredient.name}}</a></td>
                        <td class="numeric">{{ingredient.servings}}</td>
                        <td class="numeric">{{ingredient.price}}</td>
                        <td>
                        {% if ingredient.url %}
                                <a href="{{ingredient.url}}" target="_blank">External link</a>
                        {% else %}
                                No external link
                        {% endif %}
                        </td>
                        <td><a href="{% url 'ingredient_edit' id=ingredient.id %}">Edit</a></td>
                        <td>
                                <a
                                        href="{% url 'ingredient_delete' id=ingredient.id %}"
                                        onclick="return confirm('Are you sure?')"
                                >
                                        Delete
                                </a>
                        </td>
                </tr>
        {% endfor %}
        </table>
{% endblock %}